html,body{
	background-color: #F0F0F0;
}
#home_contanier{
	padding: 0;
	
}
#home_contanier #home_container_top{
	min-height: 250px;
	text-align: center;
	background-image: url(../img/home_01.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	overflow: hidden;
}
#home_contanier #home_container_top h3{
	line-height: 60px;padding: 0;margin: 0;text-align: center;
}
#home_contanier #home_container_top h3 i{
	float: right;line-height: 60px;margin-right: 15px;
}
#home_contanier #home_container_top #userImg{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	margin-top: 20px;
}
#home_contanier #home_container_top #userNickName{
	margin: 0;
	line-height: 50px;
	font-size: 20px;
}

#home_contanier #home_contanier_content{
	padding: 15px;
}

.grid-content{
	line-height: 0;
	background-color: white;
	
}
.grid-content div{
	padding: 16px;
	padding-bottom: 0;
}
.grid-content div img{
	width: 100%;
}
.grid-content p{
	text-align: center;
	font-size: 14px;
	margin: 0;
	padding: 15px 0;

}


/*home*/
.headerBox{
	background-color: transparent;
}
.headerBox ul{
	color: #101010;
}

.loginBox{
	padding: 65px 0;
}
.loginBox button{
	border: 2px solid #4886FA;
	font-weight: bold;
	color:#4886FA;
	outline: none;
	padding:5px 10px;
	border-radius:4px;
	background-color: transparent;
	font-size: 16px;
}

.headerBox img{
	width: 24px;
	height: 24px;
	margin-top: 15px;
}
