#modifyPhone {
	padding: 0 15px;
	background-color: white;
}

.loginTab {
	width: 100%;
}

.loginTab td {
	background-color: white;
}

.borderBottom {
	border-bottom: 1px solid #E8E7E7;
	border-bottom: 1px solid #F1F1F1;
}

.loginTab input {
	line-height: 48px;
	width: 100%;
	outline: none;
	border: none;
	background-color: transparent;
}

.verificationCode {
	text-align: right;
}

.userDeal {
	font-size: 12px;
	text-align: center;
	color: #757575;
}

.userDeal span {
	color: #26a2ff;
}

.nextBotton {
	padding: 15px;
}