.el-main {
	text-align: left;
}

.staticbutton,
.hotbotton {
	border-radius: 3px;
	background-color: white;
	outline: none;
	margin-right: 5px;
}

.staticbutton {
	border: 1px solid #1CA81B;
	color: #1CA81B;
}

.hotbotton {
	border: 1px solid red;
	color: red;
}

.el-button {
	padding: 5px 8px;
}

.el-button.is-round {
	padding: 6px 8px;
}

.margin-top-sty1 {
	margin-top: 5px;
}

.searchBox {
	line-height: 0;
	margin-bottom: 10px;
}

.el-autocomplete {
	width: 100%;
}


/*新增*/

#chooseI {
	color: #D9D9D9;
	font-size: 20px;
}

.activeI i {
	color: #26A2FF;
	font-size: 20px;
}

.normalI i {
	color: #D9D9D9;
	font-size: 20px;
}

.cars-list {
	padding: 10px 15px;
	background-color: white;
	border-bottom: 1px solid #ECECEC;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	margin-bottom: 10px;
}

.grid-left-box {
	width: 80%;
}

.grid-right-box {
	width: 20%;
}

.p-style-1 {
	margin: 0;
	padding: 0;
}

.mint-search {
	height: 100%;
}

.item-carport-box {
	margin-top: 10px;
	width: 100%;
	border-top: 2px solid #20c479;
	padding: 5px 0;
}

.item-carport-box ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.item-carport-box ul li {
	float: left;
	list-style: none;
	overflow: hidden;
}

.item-carport-box ul li:nth-of-type(1) {
	position: relative;
	width: 80%;
}

.item-carport-box ul li:nth-of-type(2) {
	width: 20%;
	text-align: center;
}

.item-carport-content {
	margin-top: 8px;
}

.item-carport-content p {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

.booking-botton {
	margin-top: 8px;
}

.tipsP {
	color: #26a2ff;
	text-align: center;
}