html,
body {
	background-color: #F0F0F0;
}

.el-main {
	line-height: 30px;
}

.el-row {
	margin-bottom: 0;
	text-align: left;
}

.color-style-1 {
	color: #67C23A;
}

.color-style-2 {
	color: #409EFF;
}

.color-style-3 {
	color: #E6A23C;
}

.grid-content {
	padding: 10px;
	background-color: white;
}


/*新增*/

.item-cell-box {
	line-height: 30px;
}

.item-box {
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 10px;
	background-color: white;
}

.margin-left-style {
	margin-left: 8px;
}