<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>添加车辆</title>
		<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">

		<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
		<link rel="stylesheet" type="text/css" href="../css/keybord.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/findCar.css" />
		<link rel="stylesheet" type="text/css" href="../css/head.css" />
		<style type="text/css">
			.el-main {
				line-height: 40px;
			}
			
			.el-row {
				margin-bottom: 0;
				text-align: left;
			}
			
			.color-style-1 {
				color: #67C23A;
			}
			
			.color-style-2 {
				color: #409EFF;
			}
			
			.color-style-3 {
				color: #E6A23C;
			}
			
			.grid-content {
				padding: 10px;
				background-color: white;
			}
			
			.car-box-left {
				height: 40px;
				width: 40px;
				border-radius: 40px;
				border: 1px solid #EBEBEB;
				text-align: center;
				overflow: hidden;
			}
			
			.text-align-right {
				text-align: right;
			}
			
			.add-car-box button {
				width: 80%;
				border: 1px dashed #409EFF;
				border-radius: 20px;
				height: 30px;
				background-color: transparent;
				color: #409EFF;
			}
			
			#find_car_cont h3 {
				text-align: center;
			}
			
			p {
				text-align: center;
			}
			
			.el-checkbox {
				float: right;
			}
			
			.addbtnbox {
				text-align: center;
			}
			
			.mint-cell {
				background-color: transparent;
			}
			
			.tiptextp {
				padding: 15px 0 10px 0;
			}
			.mint-cell-wrapper{
	outline: none;
	border: none;
	text-decoration: none;
}
		</style>
	</head>

	<body>
		<div id="app">
			<mt-header title="添加车辆">
				< a href="f=" home.html " sl" slot="left">
					<mt-button icon="back"></mt-button>
				</ a>
			</mt-header>

			<!--<el-container>
			
				<el-main>-->
			<p class="tiptextp">请绑定真实有效的车牌号</p>
			<div class="car_input">
				<ul class="clearfix ul_input" v-bind:style="{width:ulWidth}">
					<!--<ul class="clearfix ul_input">-->
					<li class="input_pro"><span></span></li>
					<li class="input_pp input_zim"><span></span></li>
					<li class="input_pp"><span></span></li>
					<li class="input_pp"><span></span></li>
					<li class="input_pp"><span></span></li>
					<li class="input_pp"><span></span></li>
					<li class="input_pp"><span></span></li>
					<li class="input_pp" v-if="checked"><span></span></li>
				</ul>
			</div>
			<div id="jp_pro"></div>

			<mt-checklist style='text-align: right;' v-model="value" :options="options"></mt-checklist>

			<div class="addbtnbox">
				<mt-button type="primary" @click="submitAddCar">添加</mt-button>
			</div>
		</div>

		<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/tyajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/interceptor.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var ajaxDataFun = getAjaxData;
			var getParam = GetQueryString;
			var promptFun = promptBtnFun; //提示
			var getAwardIdFun = getAwardId; //获取活动的建立计划id
			var sessionFun = setcodeval; //添加session
			var getCode = getCode; //通过code获取用户信息
			//			var getuserInfo = getuserInfo; //通过openid获取用户信息

			// $mount：vue中的生命周期   将实例#app挂载到Vue上
			//			new Vue()
			var Main = {
				data() {
					return {
						value: [],
						checked: false,
						ulWidth: '300px',
						busNumber: '',
						options: [{
							label: '新能源车牌',
							value: 'A'
						}],
						userid: ''
					};
				},
				mounted: function() {
					this.getUserInfo();
					this.$nextTick(function() {
						//加载完成执行
					})
				},
				watch: {
					value: {
						//注意：当观察的数据为对象或数组时，curVal和oldVal是相等的，因为这两个形参指向的是同一个数据对象
						handler(curVal, oldVal) {
							if(curVal.length > 0) {
								this.checked = true;
								this.ulWidth = '350px';
							} else {
								this.checked = false;
								this.ulWidth = '300px';
							}
						},
						deep: true
					}
				},
				methods: {
					//获取用户信息
					getUserInfo: function() {
						var _this = this ;
						axios.get(baseUrl + '/api/user/get/user/info', {
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
								},
								withCredentials: true
							})
							.then(function(res) {
								if(res.data.code == 200){
									_this.userid = res.data.data.id ;
								}
							})
							.catch(function(err) {

							})
					},
					//添加车辆
					addCar: function() {
						var _this = this;
						var busNumberEnd = provinceCode + busNumber;
						var CarNoType = '';
						if(this.checked) {
							CarNoType = 'GREEN';
							busNumberEnd = busNumberEnd.substr(0, 8);
						} else {
							CarNoType = 'BLUE';
							busNumberEnd = busNumberEnd.substr(0, 7);
						}
						$.ajax({
							type: "post",
							url: baseUrl + "/api/car/bind",
							async: true,
							xhrFields: {
								withCredentials: true //解决跨域
							},
							data: {
								carNo: busNumberEnd,
								carNoType: CarNoType,
								carType: 'SMALL_CAR',
								userId: _this.userid,
								isBind: true
							},
							success: function(data) {
								if(data.code == 200) {
									_this.$toast('添加成功');
									setTimeout(_this.gotoHome(), 1500)
								} else {
									_this.$toast(data.msg);
								}

							},
							error: function(err) {
								console.log(err)
							}
						});
						//						var params = new URLSearchParams();
						//						var busNumberEnd = provinceCode + busNumber;
						//						if(this.checked) {
						//							params.append('carNoType', 'GREEN');
						//							busNumberEnd = busNumberEnd.substr(0, 8);
						//						} else {
						//							params.append('carNoType', 'BLUE');
						//							busNumberEnd = busNumberEnd.substr(0, 7);
						//						}
						//						params.append('carNo', busNumberEnd);
						//						params.append('carType', 'SMALL_CAR');
						//						params.append('brand', '');
						//						params.append('model', '');
						//						params.append('color', '');
						//						params.append('userId', userId);
						//						params.append('isBind', true);
						//						axios.post(baseUrl + "/api/car/bind", params, {
						//								headers: {
						//									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
						//								},
						//								withCredentials: true
						//							})
						//							.then(function(response) {
						//								alert('then')
						//								alert(JSON.stringify(response))
						//								if(response.status == 200) {
						//									if(response.data.code == 200) {
						//										_this.$toast('添加成功');
						//										setTimeout(_this.gotoHome(), 1500)
						//									} else {
						//										_this.$toast(response.data.msg);
						//									}
						//								}
						//							})
						//							.catch(function(error) {
						////								alert('err')
						////								alert(JSON.stringify(error))
						//							})
					},
					submitAddCar: function() {

						this.busNumber = provinceCode + busNumber;
						if(this.checked) {
							if(this.busNumber.length == 8) {
								this.addCar()
							} else {
								//提示“请输入完整的车牌”
								this.$toast('请输入完整的车牌')
							}
						} else {
							if(this.busNumber.length == 7) {
								this.addCar()
							} else {
								//提示“请输入完整的车牌”
								this.$toast('请输入完整的车牌')
							}
						}
					},
					//跳转回到home页面
					gotoHome: function() {
						window.location.href = 'home.html';
					}
				}
			}
			var Ctor = Vue.extend(Main)
			new Ctor().$mount('#app')
		</script>

	</body>

</html>