<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>添加车辆</title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">

		<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/keybord.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/findCar.css" />
		<link rel="stylesheet" type="text/css" href="../css/head.css" />
		<link rel="stylesheet" type="text/css" href="../css/addcar.css" />
	</head>

	<body>
		<div id="app">
			<mt-header title="添加车辆">
				<a href="home.html " slot="left">
					<mt-button icon="back"></mt-button>
				</a>
			</mt-header>

			<p class="tiptextp">请绑定真实有效的车牌号</p>
			<div class="car_input">
				<ul class="clearfix ul_input" v-bind:style="{width:ulWidth}">
					<li class="input_pro"><span></span></li>
					<li class="input_pp input_zim"><span></span></li>
					<li class="input_pp"><span></span></li>
					<li class="input_pp"><span></span></li>
					<li class="input_pp"><span></span></li>
					<li class="input_pp"><span></span></li>
					<li class="input_pp"><span></span></li>
					<li class="input_pp" v-if="checked"><span></span></li>
				</ul>
			</div>
			<div id="jp_pro"></div>

			<mt-checklist style='text-align: right;' v-model="value" :options="options"></mt-checklist>

			<div class="addbtnbox">
				<mt-button type="primary" @click="submitAddCar">添加</mt-button>
			</div>
		</div>

		<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/tyajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/interceptor.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var ajaxDataFun = getAjaxData;
			var getParam = GetQueryString;
			var promptFun = promptBtnFun; //提示
			var getAwardIdFun = getAwardId; //获取活动的建立计划id
			var sessionFun = setcodeval; //添加session
			var getCode = getCode; //通过code获取用户信息

			// $mount：vue中的生命周期   将实例#app挂载到Vue上
			//			new Vue()
			var Main = {
				data() {
					return {
						value: [],
						checked: false,
						ulWidth: '266px',
						busNumber: '',
						options: [{
							label: '新能源车牌',
							value: 'A'
						}],
						userid: ''
					};
				},
				mounted: function() {
					this.getUserInfo();
					this.$nextTick(function() {
						//加载完成执行
					})
				},
				watch: {
					value: {
						//注意：当观察的数据为对象或数组时，curVal和oldVal是相等的，因为这两个形参指向的是同一个数据对象
						handler(curVal, oldVal) {
							if(curVal.length > 0) {
								numberInput = 7;
								this.checked = true;
								this.ulWidth = '304px';
							} else {
								numberInput = 6;
								this.checked = false;
								this.ulWidth = '266px';
							}
						},
						deep: true
					}
				},
				methods: {
					//获取用户信息
					getUserInfo: function() {
						var _this = this;
						axios.get(baseUrl + '/api/user/get/user/info', {
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
								},
								withCredentials: true
							})
							.then(function(res) {
								if(res.data.code == 200) {
									_this.userid = res.data.data.id;
								}
							})
							.catch(function(err) {

							})
					},
					//添加车辆
					addCar: function() {
						var _this = this;
						var busNumberEnd = provinceCode + busNumber;
						var CarNoType = '';
						if(this.checked) {
							CarNoType = 'GREEN';
							busNumberEnd = busNumberEnd.substr(0, 8);
						} else {
							CarNoType = 'BLUE';
							busNumberEnd = busNumberEnd.substr(0, 7);
						}
						$.ajax({
							type: "post",
							url: baseUrl + "/api/car/bind",
							async: true,
							xhrFields: {
								withCredentials: true //解决跨域
							},
							data: {
								carNo: busNumberEnd,
								carNoType: CarNoType,
								carType: 'SMALL_CAR',
								userId: _this.userid,
								isBind: true
							},
							success: function(data) {
								if(data.code == 200) {
									_this.$toast('添加成功');
									setTimeout(_this.gotoHome(), 1500)
								} else {
									_this.$toast(data.msg);
								}
							},
							error: function(err) {
								console.log(err)
							}
						});
					},
					submitAddCar: function() {
						this.busNumber = provinceCode + busNumber;
						console.log(busNumber)
						if(busNumber) {
							//							alert('is true')
							//							alert('busNumber'+busNumber)
							if(this.checked) {
								if(busNumber.length >= 7) {
									this.addCar()
								} else {
									//提示“请输入完整的车牌”
									this.$toast('请输入完整的车牌')
								}
							} else {
								if(busNumber.length >= 6) {
									this.addCar()
								} else {
									//提示“请输入完整的车牌”
									this.$toast('请输入完整的车牌')
								}
							}
						} else {
							//							alert('is false')
							this.$toast('请输入完整的车牌')
						}
					},
					//跳转回到home页面
					gotoHome: function() {
						window.location.href = 'home.html';
					}
				}
			}
			var Ctor = Vue.extend(Main)
			new Ctor().$mount('#app')
		</script>

	</body>

</html>