<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>停车场</title>
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

		<!--引入高德地图-->
		<!--<link rel="stylesheet" href="https://cache.amap.com/lbs/static/main.css?v=1.0" />-->
		<link rel="stylesheet" type="text/css" href="../css/layoutcontanier.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/findCar.css" />
		<link rel="stylesheet" type="text/css" href="../css/head.css" />
		<link rel="stylesheet" type="text/css" href="../css/alertnativeParking.css" />
	</head>

	<body>
		<div id="app">
			<mt-header title="停车场">
				<mt-button @click='goBack' slot="left" icon="back"></mt-button>
			</mt-header>

			<div>
				<mt-search @keyup.enter.native="searchPark" v-model="searchValue" cancel-text="取消" placeholder="搜索"></mt-search>
			</div>

			<div>
				<div class="cars-list" v-for="(item,index) in nearParks">
					<div class="grid-left-box">
						<p class='margin-left-style font-size-sty2 p-style-1 showOnlyOneLine' v-cloak>{{item.name}}</p>

						<div class='font-size-1 margin-sty'>
							<button v-for="(itemtrait,index) in item.trait" v-bind:class="{ hotbotton: itemtrait.hot,  staticbutton: itemtrait.hot==false }" v-cloak>{{itemtrait.value}}</button>
						</div>

						<div class='margin-left-style font-size-sty3' v-cloak>
							空 {{item.info.kongwei}} | 免费{{item.info.free}} | {{item.info.price}}元/小时
						</div>
					</div>
					<div class="grid-right-box" v-cloak>
						{{item.distance}}
						<div class='margin-top-sty1'>
							<a v-bind:href="'mapdemo.html?longt=' + item.longt + '&lat=' + item.lat">
								<mt-button type="primary" size='small'>前往</mt-button>
							</a>
						</div>

						<div class='margin-top-sty1'>
							<span v-bind:class="{activeI: index==currentIndex,normalI:index!=currentIndex}">
								<i class="fas fa-check-circle" @click="chooseParking(index)"></i>	
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>

		<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>

		<!--高德地图-->
		<!--<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=21321a7e4734f283dbb81616b7a9da96&plugin=AMap.DistrictSearch"></script>
		<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>-->

		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="../js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/tyajax.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var ajaxDataFun = getAjaxData;
			var getParam = GetQueryString;
			var promptFun = promptBtnFun; //提示
			var getAwardIdFun = getAwardId; //获取活动的建立计划id
			var sessionFun = setcodeval; //添加session
			var getCode = getCode; //通过code获取用户信息
			var getConfigInfoFun = getConfigInfo(); //获取网页配置信息

			var Main = {
				data() {
					return {
						styleObj: {
							color: "#D9D9D9",
							fontSize: "20px"
						},
						currentIndex: -1,
						staticClass: 'staticbutton',
						activeClass: 'hotbotton',
						nearParks: [],

						state4: '',
						timeout: null,
						//搜索
						searchValue: '',
						currentLongt: '',
						currentLat: ''
					}
				},
				mounted: function() {
					var _this = this;
					this.$nextTick(function() {
						//加载完成执行

					})

					//配置微信信息
					wx.config({
						debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
						appId: getConfigInfoFun.appId, // 必填，公众号的唯一标识
						timestamp: getConfigInfoFun.timestamp, // 必填，生成签名的时间戳
						nonceStr: getConfigInfoFun.nonceStr, // 必填，生成签名的随机串
						signature: getConfigInfoFun.signature, // 必填，签名
						jsApiList: ["getLocation"] // 必填，需要使用的JS接口列表
					});
					//微信定位通过ready接口处理成功验证
					wx.ready(function() {
						//						alert('获取地理信息配置成功')
						wx.getLocation({
							type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
							success: function(res) {
								//								alert(JSON.stringify(res))
								var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
								var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
								var speed = res.speed; // 速度，以米/每秒计
								var accuracy = res.accuracy; // 位置精度
								_this.currentLongt = res.longitude;
								_this.currentLat = res.latitude;
								//获取停车场列表
								_this.getNearPark(res.latitude, res.longitude)
							},
							fail: function(err) {
								_this.$toast(JSON.stringify(err))
							}
						});

					});
					//			通过error接口处理失败验证
					wx.error(function(res) {
						//						alert(JSON.stringify(res))
						// config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
					});
				},
				methods: {
					//返回
					goBack: function() {
						window.history.back();
					},
					//选择一个停车场
					chooseParking: function(index) {
						this.currentIndex = index;
						//选中之后带上停车场id跳转回长租车页面
						window.location.href = encodeURI("langcarrentl.html?parkingId=" + this.nearParks[index].parkingId + "&parkingName=" + this.nearParks[index].name);
					},
					//首次通过经纬度获取附近停车场
					getNearPark: function(lat, lgt) {
						//						alert(lat,lgt)
						var _this = this;
						//调用搜索停车场的接口 
						axios.get(baseUrl + '/api/parkinglot/search/nearby', {
								params: {
									longitude: lgt,
									latitude: lat,
									distance: 20000
								},
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
								},
								withCredentials: true
							})
							.then(function(response) {
								//									alert(JSON.stringify(response))
								if(response.status == 200) {
									if(response.data.code == 200) {
										for(var i = 0; i < response.data.data.length; i++) {
											var p1 = [_this.currentLongt, _this.currentLat];
											var p2 = [response.data.data[i].longitude, response.data.data[i].latitude]
											var dis = AMap.GeometryUtil.distance(p1, p2);
											_this.getParkinglotList(response.data.data[i].freeTime, response.data.data[i].name, response.data.data[i].id, response.data.data[i].longitude, response.data.data[i].latitude, dis)
										}
									} else {
										_this.$toast(response.data.msg)
										//提示出错原因
									}

								} else {

								}
							})
							.catch(function(error) {
								//									alert(error);
							});
					},
					//通过搜索获取停车场列表
					searchPark: function(e) {
						var _this = this;
						_this.nearParks = [];
						var keyCode = window.event ? e.keyCode : e.which;
						if(keyCode == 13 && this.searchValue) {
							//调用搜索停车场的接口 
							axios.get(baseUrl + '/api/parkinglot/search/nearby', {
									params: {
										longitude: _this.currentLongt,
										latitude: _this.currentLat,
										distance: '20000',
										keyword: _this.searchValue
									}
								}, {
									headers: {
										'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
									},
									withCredentials: true
								})
								.then(function(response) {
									console.log(response)
									if(response.status == 200) {
										if(response.data.code == 200) {
											for(var i = 0; i < response.data.data.length; i++) {
												var p1 = [_this.currentLongt, _this.currentLat];
												var p2 = [response.data.data[i].longitude, response.data.data[i].latitude]
												var dis = AMap.GeometryUtil.distance(p1, p2);
												_this.getParkinglotList(response.data.data[i].freeTime, response.data.data[i].name, response.data.data[i].id, response.data.data[i].longitude, response.data.data[i].latitude, dis)
											}
										} else {
											_this.$toast(response.data.msg)
											//提示出错原因
										}

									} else {

									}
								})
								.catch(function(error) {
									//									alert(error);
								});

						}

					},
					//获取车库列表
					getParkinglotList: function(freet, name, id, longt, lat, dis) {
						var showDis;
						if(dis / 1000 > 1) {
							showDis = (dis / 1000).toFixed(2) + 'km';
						} else if(dis < 100) {
							showDis = '100m内'
						} else {
							showDis = parseInt(dis / 1000) + 'm';
						}
						var _this = this;
						$.ajax({
							type: "get",
							url: baseUrl + '/api/parkinglot/garage/list',
							async: false, //是否异步
							data: {
								parkingLotId: id
							},
							success: function(data) {
								if(data.code == 200) {
									if(data.data.content.length > 0) {

										var leftSpaceTotle = 0,
											parkingLotTypeE, isRentableE, isTwentyFourHourE, isBookingE;
										var parkingLotType = [],
											isRentable = [],
											isTwentyFourHour = [],
											isBooking = []
										for(var i = 0; i < data.data.content.length; i++) {
											//空余车位总数
											leftSpaceTotle += parseFloat(data.data.content[i].leftSpace);
											//车库类型
											if(parkingLotType == '' || parkingLotType.indexOf(data.data.content[i].type) == -1) {
												parkingLotType.push(data.data.content[i].type);
											}
											//是否可租
											if(data.data.content[i].isRentable == true) {
												isRentable.push(data.data.content[i].isRentable)
											}
											//是否24小时停车
											if(data.data.content[i].isTwentyFourHour == true) {
												isTwentyFourHour.push(data.data.content[i].isTwentyFourHour)
											}
											//是否可预约
											if(data.data.content[i].isBooking == true) {
												isBooking.push(data.data.content[i].isBooking)
											}
										}

										setTimeout(function() {    
											if(isTwentyFourHour.length > 0) {
												isTwentyFourHourE = true;
											} else {
												isTwentyFourHourE = false;
											}
											if(isBooking.length > 0) {
												isBookingE = true;
											} else {
												isBookingE = false;
											}
											if(parkingLotType.length > 1) {
												parkingLotTypeE = '混合式'
											} else if(parkingLotType.length == 1) {
												if(parkingLotType[0] == 'GROUND') {
													parkingLotTypeE = '地面';
												} else if(parkingLotType[0] == 'UNDERGROUND') {
													parkingLotTypeE = '地下';
												} else if(parkingLotType[0] == 'SOLID') {
													parkingLotTypeE = '立体';
												} else if(parkingLotType[0] == 'OTHER') {
													parkingLotTypeE = '其他';
												}
											} 
										}, 0)
										setTimeout(function() {
											_this.nearParks.push({
												parkingId: id,
												name: name,
												longt: longt,
												lat: lat,
												trait: [{
													hot: isTwentyFourHourE,
													value: '24小时'
												}, {
													hot: false,
													value: parkingLotTypeE
												}, {
													hot: isBookingE,
													value: '预约'
												}],
												distance: showDis,
												info: {
													kongwei: leftSpaceTotle,
													free: freet,
													price: 12
												}
											})
										}, 0)
									} else {
										_this.$toast('附近没有可选停车场')
									}
								} else {
									_this.$toast(data.msg)
								}
							},
							error: function(err) {

							}
						});
					}
				}
			};
			var Ctor = Vue.extend(Main)
			new Ctor().$mount('#app')
		</script>
	</body>

</html>