<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>车辆缴费</title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/keybord.css" />
		<link rel="stylesheet" type="text/css" href="../css/layoutcontanier.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/findCar.css" />
		<link rel="stylesheet" type="text/css" href="../css/head.css" />
		 
	</head>

	<body>
		<div id="app">
			<div id="find_car_cont">
				
				<el-container>

					<el-header style='background-color: #F2BE14;'>
						<h3>
							<i class="el-icon-arrow-left"></i>
							<!--<i class="fal fa-angle-left"></i>-->
							车辆查找
						</h3>
					</el-header>
					<div id="find_car_cont_cont">
						<!--<mt-header title="车辆查找">
							<router-link to="/" slot="left">
								<mt-button icon="back"></mt-button>
							</router-link>

						</mt-header>-->

						<el-main>

							<div>
								<mt-cell :title="checkedParklot">
									<div @click="showParklot=true">
										切换停车场<img class="iconImg" src="../img/arrow_down.png">
									</div>
									<!--<span style="color: green" ></span>-->
								</mt-cell>

							</div>
							<!--<el-row>
								<el-col :span="12">
									<div class="grid-content">北京物美停车场总部</div>
								</el-col>
								<el-col :span="12">
									<div class="grid-content text-align-right">切换<i class="el-icon-caret-right"></i></div>
								</el-col>
							</el-row>-->
							<!--<el-row>
								<el-col :span="24">
									<div class="grid-content ">
										入场时间
										<el-select v-model="value" placeholder="请选择">
											<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
											</el-option>
										</el-select>
									</div>
								</el-col>

							</el-row>-->
							<div id="license-plate-number" style="overflow: hidden;">
								<p>请输入真是有效的车牌号查询</p>
								<div class="car_input">
									<ul class="clearfix ul_input" v-bind:style="{width:ulWidth}">
										<li class="input_pro"><span></span></li>
										<li class="input_pp input_zim"><span></span></li>
										<li class="input_pp"><span></span></li>
										<li class="input_pp"><span></span></li>
										<li class="input_pp"><span></span></li>
										<li class="input_pp"><span></span></li>
										<li class="input_pp"><span></span></li>
										<li class="input_pp" v-if="checked"><span></span></li>
									</ul>
									<el-checkbox v-model="checked">新能源车牌</el-checkbox>
								</div>
								<div id="jp_pro"></div>

								
							</div>
							<div style="text-align: center;margin-top: 15px;">
								<el-button type="primary" style='width: 100%;' size='medium' plain @click='searchAppoint'>搜索</el-button>
							</div>
							<p class="tipsP" v-show="ishavecar">您当前没有未缴费车辆!</p>
						</el-main>

					</div>
					
					<div style="height: 15px;width:100%;background-color: #F0F0F0;"></div>
					<div class="cars-list" v-for="(item,index) in vehicleToBeChargedList">
						<a :href="item.payUrl">
							<el-main>
								<el-row>
									<el-col :span="5">
										<!--<img class="img-show-100" src="../img/1-1506131104550-L.jpg" />-->
										<img class="img-show-100" :src="item.carHeadImg" />
									</el-col>
									<el-col :span="19">
										<el-row class='' v-cloak>
											<!--<el-col :span="9"><span class='margin-left-style font-size-sty2'>京A 56ABC</span></el-col>-->
											<el-col :span="9"><span class='margin-left-style font-size-sty2'>{{item.plateNum}}</span></el-col>
											<!--<el-col :span="12">当前消费：<span id="Monetary" class="subject-color-sty1">12元</span></el-col>-->
											<el-col :span="12">当前消费：<span id="Monetary" class="subject-color-sty1">{{item.currentConsum}}</span></el-col>
											<el-col :span="3" class='text-align-right'>
												<i class="el-icon-question color-style-1"></i>
											</el-col>
										</el-row>
										<el-row class='margin-sty'>
											<el-col :span="24" class='font-size-1'>
												<div class='margin-left-style font-color-sty3' v-cloak>
													<!--入场时间：<span id="entry-time">2018-7-3 AM：9:20</span> 收费：<span id="charge-money"></span>3元/小时-->
													入场时间：<span id="entry-time">{{item.enterTime}}</span> 收费：<span id="charge-money"></span>{{item.chargeRule}}
												</div>
											</el-col>
										</el-row>
										<el-row>
											<el-col :span="24">
												<!--<div class='margin-left-style font-size-sty3'>停车场：北京物美总部 2号立体车库 E19</div>-->
												<div class='margin-left-style font-size-sty3' v-cloak>停车场：{{item.parkingName}}</div>
											</el-col>

										</el-row>
									</el-col>
								</el-row>
							</el-main>
						</a>
					</div>
					</el-main>
				</el-container>
				
			</div>
			<!--start选择车辆-->
			<div v-show='showParklot' class="piker-cars-box">
				<ul class="operation-ul">
					<li @click="cancelFun">取消</li>
					<li @click="submitFun">确定</li>
				</ul>
				<mt-picker value-key='name' :slots="parkLots" @change="onchangeVal"></mt-picker>
			</div>
			<!--end选择车辆-->
		</div>

		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="../js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/tyajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/interceptor.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var getConfigInfo = getConfigInfo();

			//			var latitude , longitude ;
			// $mount：vue中的生命周期   将实例#app挂载到Vue上
			//			new Vue().$mount('#app');
			var Main = {
				data() {
					return {
						//停车场
						parkLots: [{
							flex: 1,
							values: [],
							className: 'slot1',
							textAlign: 'center'
						}],

						latitude: 30.539826,
						longitude: 104.071574,
						
						parklotId : '',
						changeParkLotId : '',
						
						ishavecar : false,
						
						//显示停车场
						showParklot: false,
						checkedParklot: '请选择',
						changeParkLot: '',

						options: [{
							value: '选项1',
							label: '1小时内'
						}, {
							value: '选项2',
							label: '2小时内'
						}, {
							value: '选项3',
							label: '2小时30分钟内'
						}],
						value: '',
						checked: false,
						ulWidth: '300px',
//						payUrl: 'parkpayment.html',
						//待缴费车辆列表
						vehicleToBeChargedList: [{
							carHeadImg: '../img/1-1506131104550-L.jpg',
							plateNum: '京A 56ABC',
							currentConsum: '12元',
							enterTime: '2018-7-3 AM：9:20',
							chargeRule: '3元/小时',
							parkingName: '北京物美总部 2号立体车库 E19'
						}, {
							carHeadImg: '../img/1-1506131104550-L.jpg',
							plateNum: '京A 56ABC',
							currentConsum: '12元',
							enterTime: '2018-7-3 AM：9:20',
							chargeRule: '3元/小时',
							parkingName: '北京物美总部 2号立体车库 E19'
						}, {
							carHeadImg: '../img/1-1506131104550-L.jpg',
							plateNum: '京A 56ABC',
							currentConsum: '12元',
							enterTime: '2018-7-3 AM：9:20',
							chargeRule: '3元/小时',
							parkingName: '北京物美总部 2号立体车库 E19'
						}]
					};
				},
				watch: {
					checked: function() {
						if(this.checked) {
							this.ulWidth = '350px';
						} else {
							this.ulWidth = '300px';
						}
					}
				},
				mounted: function() {
					this.getAllCarOrder();
					this.searchPark();

					this.$nextTick(function() {
						var _this = this;
						console.log(getConfigInfo);
						//获取用户的地理位置信息

						//						步骤三：通过config接口注入权限验证配置
						wx.config({
							debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
							appId: getConfigInfo.appId, // 必填，公众号的唯一标识
							timestamp: getConfigInfo.timestamp, // 必填，生成签名的时间戳
							nonceStr: getConfigInfo.nonceStr, // 必填，生成签名的随机串
							signature: getConfigInfo.signature, // 必填，签名
							jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表
						});
						//						步骤四：通过ready接口处理成功验证
						wx.ready(function() {
							// config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。

							wx.getLocation({
								type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
								success: function(res) {
									_this.latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
									_this.longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
								},

							});
						});
						//						步骤五：通过error接口处理失败验证
						wx.error(function(res) {
							_this.$toast(res)
							// config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
						});
					})
				},
				methods: {
					//获取用户绑定的未交费的订单列表
					getAllCarOrder: function() {
						var _this = this;
						axios.get(baseUrl + '/api/park/parking/list', {
								params: {
									page: 0,
									size: 10,
									listOpenParkings: 'true'
								},
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
								},
								withCredentials: true
							})
							.then(function(res) {
								if(res.status == 200 && res.data.code == 200) {
									_this.vehicleToBeChargedList = [];
									if(res.data.data.content.length > 0){
										_this.ishavecar = false ;
										for(var i = 0 ;  i < res.data.data.content.length ; i++){
											_this.vehicleToBeChargedList.push({
												carHeadImg: '../img/1-1506131104550-L.jpg',
												plateNum: res.data.data.content[0].carNo,
												currentConsum: res.data.data.content[0].totalFee ,//当前消费
												enterTime: res.data.data.content[0].enterTime ,
												chargeRule: '',//每小时价格
												parkingName: res.data.data.content[0].parkingLotName,
												payUrl : 'parkpayment.html?arrId=' + i +'&getFrom=binding'
											})
										}
									}else{
										_this.ishavecar = true ;
									}
									
									
								} else {
									_this.$toast(res.data.msg)
								}
							})
							.catch(function(err) {

							})
					},
					
					//通过搜索获取停车场列表
					searchPark: function() {
						var _this = this;
						
						//调用搜索停车场的接口 
						axios.get(baseUrl + '/api/parkinglot/search/nearby', {
								params: {
									longitude: _this.longitude,
									latitude: _this.latitude,
									distance: '10000'
								},
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
								},
								withCredentials: true
							})
							.then(function(response) {

								if(response.status == 200) {
									if(response.data.code == 200) {
										for(var i = 0; i < response.data.data.length; i++) {
											_this.parkLots[0].values.push({
												name: response.data.data[i].name,
												id: response.data.data[i].id
											})
										}
										_this.checkedParklot = response.data.data[0].name;
										_this.parklotId = response.data.data[0].id;
										

									} else {
										_this.$toast(res.data.msg)
										//提示出错原因
									}

								} else {

								}
							})
							.catch(function(error) {
//								alert(error);
							});

					},
					submitFun: function() {
						this.checkedParklot = this.changeParkLot;
						this.parklotId = this.changeParkLotId;
						this.showParklot = false;
					},
					cancelFun: function() {
						this.showParklot = false;
					},
					//选择车辆
					onchangeVal(picker, values) {
						var _this = this;
						if(_this.checkedParklot == '') {
							_this.checkedParklot = values[0].name;
							_this.parklotId = values[0].id;
						} else {
							_this.changeParkLot = values[0].name;
							_this.changeParkLotId = values[0].id;
						}
					},
					//通过搜索获取车辆订单
					searchAppoint: function() {
						var _this = this ;
						var plateNum = provinceCode + busNumber ;
						axios.get(baseUrl + '/api/park/parking/search', {
								params: {
									parkingLotId: _this.parklotId,
									carNo: provinceCode + busNumber
								},
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
								},
								withCredentials: true
							})
							.then(function(res) {
								if(res.status == 200 && res.data.code == 200){
									_this.vehicleToBeChargedList = [];
									if(res.data.data.length > 0){
										_this.ishavecar = false ;
										for(var i = 0 ; i < res.data.data.length ; i++){
											_this.vehicleToBeChargedList.push({
												carHeadImg: '../img/1-1506131104550-L.jpg',
												plateNum: res.data.data[0].carNo,
												currentConsum: res.data.data[0].totalFee ,//当前消费
												enterTime: res.data.data[0].enterTime ,
												chargeRule: '',//每小时价格
												parkingName: res.data.data[0].parkingLotName,
												payUrl : 'parkpayment.html?arrId=' + i + '&getFrom=search&parklotId=' + _this.parklotId + '&carNo=' + plateNum
											})
										}
									}else{
										_this.ishavecar = true ;
									}
									
									
								}else{
									_this.$toast(res.data.msg)
								}
							})
							.catch(function(err) {

							})
						
					}
				}
			}
			var Ctor = Vue.extend(Main)
			new Ctor().$mount('#app')
		</script>
	</body>

</html>