<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>长租车</title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
		<!--引入高德地图-->
		<link rel="stylesheet" href="https://cache.amap.com/lbs/static/main.css?v=1.0" />

		<link rel="stylesheet" type="text/css" href="../fontawesome-free-5.2.0-web/css/fontawesome.css" />
		<link rel="stylesheet" type="text/css" href="../css/layoutcontanier.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/head.css" />
		<link rel="stylesheet" type="text/css" href="../css/slideshow.css" />
		<style type="text/css">
			#app {
				padding-bottom: 80px;
				position: relative;
			}
			
			.lang-car-rentl,
			.lang-car-rent2 {
				background-color: white;
			}
			
			.lang-car-rent2 {
				margin-top: 15px;
			}
			
			.banner {
				padding: 20px 30px;
			}
			
			.banner img {
				width: 100%;
				border-radius: 10px;
			}
			
			.month-car-button {
				padding: 0 20px;
			}
			
			.month-car-button ul {
				overflow: hidden;
				padding: 0;
			}
			
			.month-car-button li {
				list-style: none;
				width: 47%;
				margin-bottom: 15px;
			}
			
			.floatLeft {
				float: left;
			}
			
			.floatRight {
				float: right;
			}
			
			.month-car-button div {
				box-sizing: border-box;
				width: 100%;
				padding: 0 0 0 10px;
				border-radius: 4px;
				border: 1px solid #26a2ff;
			}
			
			.month-car-button div p span {
				color: #606266;
				font-size: 12px;
				text-decoration: line-through;
			}
			
			.month-car-button div p:nth-of-type(1) {
				font-size: 16px;
			}
			
			.month-car-button div p:nth-of-type(2) {
				font-size: 14px;
			}
			
			.margin-style-1 {
				margin-top: 15px;
				margin-bottom: 5px;
			}
			
			.margin-style-2 {
				margin-bottom: 15px;
				margin-top: 5px;
			}
			
			.picker {
				text-align: right;
				border-top: 1px solid #DCDFE6;
			}
			
			.sure {
				margin-top: 10px;
				margin-right: 20px;
			}
			
			.iconImg {
				width: 24px;
			}
			
			.allValBox {
				padding: 10px 20px;
			}
			/*iframe*/
			
			#showMyCarIframe {
				position: fixed;
				top: 0;
				left: 0;
				background-color: white;
				border: none;
			}
			/*切换停车场*/
			
			.chooseParking {
				padding: 0 10px;
				background-color: white;
				margin-bottom: 15px;
			}
			
			.floatUlRigLef {
				overflow: hidden;
				margin: 0;
				padding: 0;
				width: 100%;
			}
			
			.chooseParking ul {}
			
			.floatUlRigLef li {
				float: left;
				line-height: 60px;
				list-style: none;
			}
			
			.chooseParking ul li {}
			
			.floatUlRigLef li:nth-of-type(1) {
				width: 55%;
			}
			
			.floatUlRigLef li:nth-of-type(2) {
				width: 45%;
				text-align: right;
				color: #26a2ff;
			}
			
			.purchaseBox {
				padding: 10px 15px;
				background-color: white;
				box-shadow: 0px -3px 15px 0px #AFAFAF;
				position: fixed;
				bottom: 0;
				width: 100%;
				box-sizing: border-box;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<mt-header title="">
				<a href="home.html" slot="left">
					<mt-button icon="back"></mt-button>
				</a>
				<a href="myCar.html" slot='right'>
					<span>我的卡</span>
				</a>
			</mt-header>
			<div class="chooseParking">
				<ul class="floatUlRigLef">
					<li>{{choosedParking}}</li>
					<li @click="changePark">
						<a href="alertnativeParking.html">切换</a>
					</li>
				</ul>
				<!--<mt-cell title="北京物美总部停车场" value="切换" @click="changePark"></mt-cell>-->
			</div>
			<div class="lang-car-rentl">

				<div class="banner">
					<mt-swipe :auto="4000" style='height: 150px;'>
						<mt-swipe-item v-for='(monthcar,index) in monthcards'><img :src="monthcar.bannerImg" /></mt-swipe-item>

					</mt-swipe>
				</div>

				<div class="month-car-button">
					<p>{{chooseMonthCar}}</p>
					<ul>
						<li v-for="(monthcar,index) in monthcards" :class="{floatRight:index%2==1,floatLeft:index%2!=1}">

							<div v-on:click="chooseMonth(index,monthcar.price)" v-bind:class="{activeButton:currentIndex==index,normalButton:currentIndex!=index}">
								<p class="margin-style-1">{{monthcar.time}}随意停</p>
								<p class="margin-style-2">￥{{monthcar.price}} <span>{{monthcar.originalPrice}}</span></p>
							</div>
						</li>

					</ul>
				</div>

			</div>
			<div class="lang-car-rent2">
				<div class="">
					<mt-cell title="车辆信息" value=""></mt-cell>
				</div>
				<div>
					<mt-cell title="车辆" value="换一辆">{{defaultCar}} <img class="iconImg" src="../img/arrow_down.png" @click="popupVisible=true" /></mt-cell>
					<mt-picker v-if="popupVisible" :slots="slots" @change="onValuesChange" :show-toolbar="true">
						<mt-button @click="handleConfirm('c')" class="sure">确认</mt-button>
					</mt-picker>
					<mt-cell title="车库" value="换一个">{{defaultCarPort}} <span @click="carPortVisible=true">换一个</span></mt-cell>
					<mt-picker v-if="carPortVisible" :slots="carports" @change="onValuesChange1" :show-toolbar="true">
						<mt-button @click="handleConfirm('p')" class="sure">确认</mt-button>
					</mt-picker>
				</div>
			</div>
			<!--<div class="lang-car-rent2">
				<div class="allValBox">
					<p>已选择：<span>{{chooseInfo}}</span></p>
				</div>
			</div>-->

			<div class="purchaseBox">
				<ul class="floatUlRigLef">
					<li>{{monthCarPrice}}</li>
					<li>
						<mt-button type="primary" @click="createMonthCarOrder">购买</mt-button>
					</li>
				</ul>

			</div>

			<!--<iframe v-show="showPark" id="showMyCarIframe" src="nearparkinglot.html" width="100%" height="100%"></iframe>-->
		</div>

		<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
		<!--高德地图-->
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=21321a7e4734f283dbb81616b7a9da96&plugin=AMap.DistrictSearch"></script>
		<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
		<!--微信支付-->
		<script src="../js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="../js/tyajax.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var ajaxDataFun = getAjaxData;
			var getParam = GetQueryString;
			var promptFun = promptBtnFun; //提示
			var getAwardIdFun = getAwardId; //获取活动的建立计划id
			var sessionFun = setcodeval; //添加session
			var getCode = getCode; //通过code获取用户信息
			var getuserInfo = getuserInfo; //通过openid获取用户信息

			//出库信息
			var parkingLotNames = [];
			var parkingLotIndex = [];

			//实现地图定位   start
			var map = new AMap.Map('', {
				resizeEnable: true
				//				center: [116.30946, 39.937629],
				//				zoom: 3
			});
			//实现地图定位   end

			// $mount：vue中的生命周期   将实例#app挂载到Vue上
			//			new Vue().$mount('#app');
			var Main = {
				data() {
					return {
						//停车场
						choosedParking: '', //车库名称
						parkingLotCode: '', //停车场唯一编号
						parkingLotName: '', //停车场名称
						garageType: '', //车库类型
						garageCode: '', //车库编号
						garageName: '', //车库名称
						//月卡
						monthNo: '', //月卡的月数
						currentIndex: 0,
						chooseMonthCar: '',
						monthcards: [],
						//默认选中第一张月卡
						monthCarPrice: '',
						//车辆
						slots: [],
						defaultCar: '',
						popupVisible: false,
						//车库
						carports: [],
						//						carports: [{
						//							values: ['立体车库', '平面车库'],
						//						}],
						defaultCarPort: '',
						carPortVisible: false,
						//选中的信息
						//						chooseInfo: '',
						//展示可选的停车场
						showPark: false
					};
				},
				computed: {

				},
				mounted: function() {
					this.$nextTick(function() {
						var _this = this;
						//加载完成执行
						//高德地图进行定位
						//瀏覽器定位
						map.plugin('AMap.Geolocation', function() {
							geolocation = new AMap.Geolocation({
								enableHighAccuracy: true, //是否使用高精度定位，默认:true
								timeout: 10000, //超过10秒后停止定位，默认：无穷大
								buttonOffset: new AMap.Pixel(10, 20), //定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
								zoomToAccuracy: true, //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
								buttonPosition: 'RB'
							});
							map.addControl(geolocation);
							geolocation.getCurrentPosition();
							AMap.event.addListener(geolocation, 'complete', onComplete); //返回定位信息
							AMap.event.addListener(geolocation, 'error', onError); //返回定位出错信息
						});
						//解析定位结果
						function onComplete(data) {
							getCityCode(data.addressComponent.city)
						}
						//解析定位错误信息
						function onError(data) {
							promptFun("定位失败")
							//		        document.getElementById('tip').innerHTML = '定位失败';
						}

						//行政区划查询
						function getCityCode(x) {
							var opts = {
								subdistrict: 1, //返回下一级行政区
								level: 'city',
								showbiz: false //最后一级返回街道信息
							};
							district = new AMap.DistrictSearch(opts); //注意：需要使用插件同步下发功能才能这样直接使用
							district.search(x, function(status, result) {
								if(status == 'complete') {
									if(getParam('parkingId') == null || getParam('parkingId') == '') {
										console.log('parkingid 不存在')
										//获取停车场列表
										_this.getParkingList(result.districtList[0].adcode)
									} else {
										console.log('parkingid 存在')
										//获取停车场详情
//										_this.getParingDetail(getParam('parkingId'))
										//调用车库列表函数，传入停车场id
										_this.getParkinglotList(getParam('parkingId'))
										_this.choosedParking = getParam('parkingName')
									}

								}
							});
						}

						//获取车辆
						this.getUserCars()
						//月卡
						//						this.monthCarPrice = this.monthcards[0].price;
						//						this.chooseMonthCar = this.monthcards[0].time + "月卡";

						//页面加载完成立马执行流程
						//1 获取停车场列表并且展示第一个停车场
						//2 获取第一个停车场下面的车库列表并且展示列表的第一个
						//3 获取第一个车库的月租并展示
						//4 点击切换车库时展示相应的列表

					})
				},
				watch: {

				},
				methods: {
					chooseMonth: function(index, price) {
						if(this.currentIndex != index) {
							this.currentIndex = index;
							this.chooseMonthCar = this.monthcards[index].time + "月卡"
							this.monthNo = this.monthcards[index].time
							//							this.chooseInfo = this.defaultCar + "|" + this.chooseMonthCar + "|" + this.choosedParking + "<br/>" + this.defaultCarPort
						} else {
							this.currentIndex = -1;
						}
						this.monthCarPrice = price;
					},
					//改变车辆
					onValuesChange(picker, values) {
						this.defaultCar = values[0];

						//						this.chooseInfo = this.defaultCar + "|" + this.chooseMonthCar + "|" + this.choosedParking + "<br/>" + this.defaultCarPort
					},
					//改变车库
					onValuesChange1(picker, values) {
						console.log('改变车库')
						this.defaultCarPort = values[0];
						//调用车库详情
						this.getParkinglotDetail(parkingLotIndex[parkingLotNames.indexOf(picker.getSlotValue(0))])
						//						this.chooseInfo = this.defaultCar + "|" + this.chooseMonthCar + "|" + this.choosedParking + "<br/>" + this.defaultCarPort
					},
					handleConfirm: function(p) {
						if(p == 'c') {
							this.popupVisible = false;
						} else if(p == 'p') {
							this.carPortVisible = false;
						}
					},
					//切换停车场
					changePark: function() {
						this.showPark = true;
					},
					//购买月卡
					createMonthCarOrder: function() {
						//各种判断之后
						var params = new URLSearchParams();
						params.append('monthNo', this.monthNo); //月卡的月数
						params.append('parkingLotCode', this.parkingLotCode); //停车场唯一编号
						params.append('parkingLotName', this.choosedParking); //停车场名称
						params.append('garageType', this.garageType); //车库类型
						params.append('garageCode', this.garageCode); //车库编号
						params.append('garageName', this.garageName); //车库名称
						axios.post(baseUrl + '/api/month/card/user/create/month/card/bill', params, {
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
								}
							})
							.then(function(response) {
								console.log(response)
								if(response.status == 200) {
									if(response.data.code == 200){
										alert('成功')
									}else{
										alert(response.data.msg)
									}
								}else{
									alert(response.data.msg)
								}

							})
							.catch(function(error) {
								console.log(error)
							});
					},
					//获取停车场列表
					getParkingList: function(c) {
						var _this = this;
						axios.get(baseUrl + '/api/parkinglot/list', {
								params: {
									areaCode: c
								}
							})
							.then(function(response) {

								if(response.status == 200 && response.data.code == 200) {
									_this.choosedParking = response.data.data.content[0].name;
									_this.parkingLotCode = response.data.data.content[0].code;

									//调用车库列表函数，传入停车场id
									_this.getParkinglotList(response.data.data.content[0].id)
								}

							})
							.catch(function(error) {

							})
					},
					//获取停车场详情
					getParingDetail: function(id) {
						var _this = this;
						axios.get(baseUrl + '/api/parkinglot/get', {
								params: {
									id: id
								}
							})
							.then(function(res) {
								if(res.status == 200) {
									if(res.data.code == 200) {
										console.log('停车场详情')
										console.log(res.data.data)
										_this.choosedParking = response.data.data.name;
										_this.parkingLotCode = response.data.data.code;
									}
								}
							})
							.catch(function(err) {

							})

					}, //获取车库列表
					getParkinglotList: function(i) {
						var _this = this;
						axios.get(baseUrl + '/api/parkinglot/garage/list', {
								params: {
									parkingLotId: i
								}
							})
							.then(function(response) {
								if(response.status == 200 && response.data.code == 200) {
									parkingLotNames = [];
									parkingLotIndex = [];
									for(var i = 0; i < response.data.data.content.length; i++) {
										if(response.data.data.content[i].isRentable == true){
											parkingLotNames.push(response.data.data.content[i].name);
											parkingLotIndex.push(response.data.data.content[i].id);
										}
									}
									_this.carports = [{
										values: parkingLotNames
									}]
									//默认获取第一个车库的详情
									_this.getParkinglotDetail(parkingLotIndex[0])
								}
							})
							.catch(function(error) {

							})
					},
					//获取车库详情
					getParkinglotDetail: function(id) {
						var _this = this;
						axios.get(baseUrl + "/api/parkinglot/garage/get", {
								params: {
									id: id
								}
							})
							.then(function(response) {
								//获取月卡等相关信息
								if(response.status == 200 && response.data.code == 200) {
									//获取车库类型
									_this.garageType = response.data.data.type;
									//获取车库编号
									//获取车库名称
									_this.garageName = response.data.data.name;
									_this.monthcards = [{
										bannerImg: '../img/1.jpg',
										price: response.data.data.billingMoneyByOneMonth,
										originalPrice: '',
										time: '1个月'
									}, {
										bannerImg: '../img/2.jpg',
										price: parseFloat(response.data.data.billingMoneyByOneMonth) * 2,
										originalPrice: '',
										time: '2个月'
									}, {
										bannerImg: '../img/3.jpg',
										price: parseFloat(response.data.data.billingMoneyByOneMonth) * 3,
										originalPrice: '',
										time: '3个月'
									}]
									_this.monthCarPrice = response.data.data.billingMoneyByOneMonth;
									_this.chooseMonthCar = '1个月月卡';
									_this.monthNo = '1个月';
									_this.garageCode = response.data.data.code
								}

							})
							.catch(function(error) {

							})
					},
					//获取用户车辆
					getUserCars: function() {
						var _this = this;
						axios.get(baseUrl + "/api/car/list", {
								userId: userId
							})
							.then(function(res) {
								if(res.status == 200) {
									if(res.data.code == 200) {
										var userCars = [];
										for(var i = 0; i < res.data.data.content.length; i++) {
											userCars.push(res.data.data.content[i].carNo);
										}
										_this.slots = [{
											flex: 1,
											values: userCars,
											className: 'slot1',
											textAlign: 'center'
										}]
									} else {
										console.log(res.data.msg)
									}
								}
							})
							.catch(function(err) {

							})
					}
				}
			}
			var Ctor = Vue.extend(Main)
			new Ctor().$mount('#app')
		</script>

	</body>

</html>