<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>钱包充值</title>
		<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/remainingsum.css"/>
	</head>

	<body>
		<div id="app" v-cloak>
			<mt-header title="钱包充值">
				<a href="wallet.html" slot="left">
					<mt-button icon="back"></mt-button>
				</a>
			</mt-header>
			<div class="remainingSumBox">
				<div class="month-car-button">
					<p>充值金额</p>
					<ul>
						<li v-for="(ruleItem,index) in rechargeRules" v-on:click="chooseMonth(index,ruleItem.id)" :class="{floatRight:index%2==1,floatLeft:index%2!=1}">
							<div v-if="ruleItem.rechargeMoney!='其他金额'" v-bind:class="{activeButton:currentIndex==index,normalButton:currentIndex!=index,shuzi:ruleItem.rechargeMoney=='其他金额'}">
								<p class="font-size-4">{{ruleItem.rechargeMoney/100}}元</p>
								<p class="font-size-1">售价:{{ruleItem.payPrice/100}}元</p>
							</div>
							<div v-else-if="ruleItem.rechargeMoney=='其他金额'&&otherMoney==''" v-bind:class="{normalButton:currentIndex==index,normalButton:currentIndex!=index,shuzi:ruleItem.rechargeMoney=='其他金额'}">
								其他金额空
							</div>
							<div v-else-if="ruleItem.rechargeMoney=='其他金额'&&otherMoney!=''" v-bind:class="{activeButton:currentIndex==index,normalButton:currentIndex!=index,shuzi:ruleItem.rechargeMoney=='其他金额'}">
								{{otherMoney}}
							</div>
						</li>

					</ul>
				</div>
				<!--选择充值方式-->
				<div class="paymentBox">
					<ul>
						<li>
							<img class="paymentImg" src="../img/wechat_pay.png" />
						</li>
						<li>
							<mt-radio align="right" v-model="payment" :options="payments">
								<!--<img src="../img/wechat_pay.png"/>-->
							</mt-radio>
						</li>
					</ul>

				</div>

			</div>
			<div class="payBox">
				<p class="protocol">点击冲击及表示已阅读并同意 <span onclick="check()">《充值协议》</span></p>
				<div @click="submitRecharge">
					<mt-button v-if="payment==''" type="default" size='large'>去充值</mt-button>
					<mt-button v-else type="primary" size='large'>去充值</mt-button>
				</div>

			</div>

			<!--数字键盘-->
			<div class="layer-content">
				<div class="otherMoney">
					<!---->
					<div class="otherMoneyHead">
						<ul>
							<li class="cancelBtn" @click="cancelBtn">取消</li>
							<li class="fontsize1">其他金额</li>
							<li style="color: transparent;"></li>
						</ul>
					</div>

					<!--展示金额-->
					<div class="shuru">
						<span>&yen;</span>
						<input id="div1" v-model="otherMoney" readonly="readonly" />

					</div>
					<!--<div class="confirmBox">
					<button>确定</button>
				</div>-->
					<input @click="confirmMoney" type="button" value="确定" class="submit" />
				</div>

				<div class="form_edit clearfix">
					<div class="num">1</div>
					<div class="num">2</div>
					<div class="num">3</div>
					<div class="num">4</div>
					<div class="num">5</div>
					<div class="num">6</div>
					<div class="num">7</div>
					<div class="num">8</div>
					<div class="num">9</div>
					<div class="num">.</div>
					<div class="num">0</div>
					<div id="remove">删除</div>
				</div>
			</div>

			<!--用户协议-->
			<div class="userAgumentBbox">
				<h3>
					充值协议
					<i class="far fa-times-circle close-btn"></i>
				</h3>
				<div>
					<p class="font-size-12">1.尊敬的用户，为保障您的合法权益，请您在充值之前仔细阅读、理解并接受本规则；如果您是未成年人，请在监护人的陪同和帮助下阅读本规则所有条款。当您在服务页面点击“去充值”按钮后，即视为您已阅读、理解本规则，并同意按本规则的规定参与充值、充值返利及类似性质的活动和／或使用账户余额。</p>

					<p class="font-size-12">2.本规则作为《塔库泊车平台服务协议》和《塔库泊车单车服务协议》（以下统称“服务协议”）不可分割的一部分，与服务协议具有同等效力，且除非另有说明本规则的用语和定义与服务协议相同。本规则同服务协议同时生效，且为您和我们之间具有法律意义的文件，您和我们将同时受到本规则条款的约束。</p>
					
					<p class="font-size-12">3.您明确同意，我们有权根据法律法规和政策的变化和/或运营需要，不时对本规则进行修订并在服务页面内予以公布，该等修订由此即享有公示效力，无需另行单独通知您；若您在该等修订公布后继续使用本服务，则表示您已充分阅读、理解并接受经该等修订后的本规则的全部内容，也将遵循该等内容使用本服务；若您不同意该等经修订后的本规则的任何内容，您即应选择放弃充值同时停止使用本服务。</p>
					
					<p class="font-size-16 color-black font-weight">1.   定义</p>
					
					<p class="font-size-14 text-indent">1.1 充值本金，指您通过相关的服务页面向您的注册帐号实际支付的金额。</p>
					
					<p class="font-size-14 text-indent">1.2 账户余额，指您的注册帐号中显示的金额，包括1）充值本金，及2）返利金额，即就您参与的“充值返利”或其他类似性质的活动我们赠予您的金额。</p>
					
					<p class="font-size-16 color-black font-weight">2.   充值返利及或其他类似性质的活动规则：</p>
					
					<p class="font-size-14 text-indent">我们会通过具体的服务页面（包括充值页面及／或具体活动页面）公布不同数额的充值本金可享受的返利金额，例如，充值100元返利50元，则当您充值人民币100元时账户可得金额为人民币150元。</p>
					
					<p class="font-size-16 color-black font-weight">3.   账户余额的使用规则</p>
					
					<p class="font-size-14 text-indent"></p>3.1 账户余额仅可用于支付车辆租金的相关费用，且充值本金将会被优先使用。</p>
					
					<p class="font-size-14 text-indent">3.2 账户余额不可转移或转赠。</p>
					
					<p class="font-size-14 text-indent">3.3 账户余额的有效期为自充值之日起至使用完毕为止。</p>
					
					<p class="font-size-14 text-indent">3.4 充值本金中未使用部分，可申请退款，返利金额部分不可申请退款。</p>
					
					
					<p class="font-size-14 text-indent">3.5 返利金额在如下情形下将会失效，或被我们收回或取消：</p>
					
					<p class="font-size-14 text-indent-2">(1) 您主动注销您的注册账号；</p>
					
					<p class="font-size-14 text-indent-2">(2) 您选择退回未使用的充值本金；</p>
					
					<p class="font-size-14 text-indent-2">(3) 您利用或者我们有合理怀疑您利用您的注册帐号从事作弊行为以获取不正当经济利益的情形；</p>
					
					<p class="font-size-14 text-indent-2">(4) 因您违反服务协议、相关说明或规则导致您的注册账号被冻结或关闭；</p>
					
					<p class="font-size-14 text-indent-2">(5) 其它根据服务协议、相关说明或规则导致我们无法向您提供服务的情形。</p>
					
					<p class="font-size-14 text-indent">3.6 发票：您可根据服务页面的提示和指引联系我们的客服人员以申请相关的发票；发票的金额为您充值本金的金额，返利金额部分不能开具发票。</p>

				</div>

			</div>

		</div>

		<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!--支付流程 1-->
		<script src="../js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/tyajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/interceptor.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var ajaxDataFun = getAjaxData;
			var getParam = GetQueryString;

			var promptFun = promptBtnFun; //提示
			var getAwardIdFun = getAwardId; //获取活动的建立计划id
			var sessionFun = setcodeval; //添加session
			var getCode = getCode; //通过code获取用户信息
//			var getuserInfo = getuserInfo; //通过openid获取用户信息
			//支付流程  2 ： 获取网页配置信息
			var getConfigInfoFun = getConfigInfo(); //获取网页配置信息
			
			//其他金额
			var otherMoneyVal;

			//选中的充值
			var lastIndex = 0;
			var otherIndex;
			// $mount：vue中的生命周期   将实例#app挂载到Vue上
			//			new Vue().$mount('#app');
			var Main = {
				data() {
					return {
						//充值金额
						currentIndex: 0,
						choosedMoney: '',
						moneys: [1000, 500, 300, 200, 100, 50, '其他金额'],
						rechargeRules: [],
						//支付方式
						payment: '',
						payments: [{
							label: "微信",
							value: 'wechatpay'
						}],
						//其他金额
						otherMoney: '',
						//支付金额
						payMoney: '',
						userId:''
					};
				},
				created:function(){//在vue实例创建后立即执行
					
				},
				computed: {

				},
				mounted: function() {
					//初始化充值规则
					this.getRechargeRuleList();
					this.$nextTick(function() {
						this.getUserInfo();
						//加载完成执行
//						console.log(configInfo)
					})
				},
				watch: {

				},
				methods: {
					//获取用户信息
					getUserInfo:function(){
						console.log('get user information')
						//获取用户信息
						var _this = this ; 
						axios.get(baseUrl + '/api/user/get/user/info',{
							headers: {
									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
								},
								withCredentials: true
						})
						.then(function(res){
							if(res.data.code == 200){
								_this.userId = res.data.data.id ;
							}
						})
						.catch(function(err){
							
						})
					},
					//获取充值规则列表
					getRechargeRuleList: function() {
						var _this = this;
						axios.get(baseUrl + '/api/balance/rechargerule/list', {
								params: {

								}
							}, {
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
								},
								withCredentials: true
							})
							.then(function(res) {
								if(res.status == 200 && res.data.code == 200) {
//									alert(JSON.stringify(res.data.data.content))
									_this.rechargeRules = res.data.data.content;
								}else{
									_this.$toast(res.data.msg)
								}
							})
							.catch(function(err) {

							})
					},
					//选择一个充值套餐
					chooseMonth: function(index, id) {
						if(this.currentIndex != index) {
							if(this.moneys[index] == "其他金额" && this.otherMoney == "") {
								this.currentIndex = lastIndex;
								otherIndex = index; //保存其他金额的index
							} else {
								this.currentIndex = index;
								lastIndex = index;
							}
						} else {
							this.currentIndex = 0;
						}
					},
					//提交订单 1 ：订单签名
					submitRecharge: function() { //去充值
						var _this = this ;
						if(this.payment == '') {
							this.$toast('请选择充值方式')
						} else {
							if(this.rechargeRules[this.currentIndex].rechargeMoney != "其他金额") {
								//支付流程  3 ：通过config接口注入权限验证配置
								wx.config({
									debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
									appId: getConfigInfoFun.appId, // 必填，公众号的唯一标识
									timestamp: getConfigInfoFun.timestamp, // 必填，生成签名的时间戳
									nonceStr: getConfigInfoFun.nonceStr, // 必填，生成签名的随机串
									signature: getConfigInfoFun.signature, // 必填，签名
									jsApiList: ["chooseWXPay"] // 必填，需要使用的JS接口列表
								});
								//支付流程   4 ：通过ready接口处理成功验证
								wx.ready(function() {
									
									//支付流程  5 ：配置成功后调用创建支付订单的接口
									_this.createPayOrder(); //此处为创建支付订单函数
								});
								//			通过error接口处理失败验证
								wx.error(function(res) {
									_this.$toast(res);
									// config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
								});

							} else {
								this.payMoney = this.otherMoney;
							}
						}
					},
					//支付流程  5 :创建支付订单
					createPayOrder: function() {
//						alert('充值金额'+this.rechargeRules[this.currentIndex].payPrice)
						var _this = this ;
						var params = new URLSearchParams();
						params.append('payModes', 'WECHATPAY'); //支付方式（微信、支付宝）WECHATPAY|ALIPAY = ['WECHATPAY', 'ALIPAY']
						params.append('billStatus', 'WAITPAY'); //支付方式（微信、支付宝）WECHATPAY|ALIPAY = ['WECHATPAY', 'ALIPAY']
						params.append('payPrice', this.rechargeRules[this.currentIndex].payPrice); //支付金额
						params.append('rechargeMoney', this.rechargeRules[this.currentIndex].rechargeMoney); //充值金额
						params.append('rechargeRuleId', this.rechargeRules[this.currentIndex].id); //引用的充值规则ID
						params.append('productName', this.rechargeRules[this.currentIndex].name); //商品名称
						params.append('userId', this.userId); //用户id
						axios.post(baseUrl + '/api/balance/rechargebill/addRechargeBill', params, {
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
								},
								withCredentials: true
							})
							.then(function(res) {
								if(res.status == 200 && res.data.code == 200) {
									//										订单id
									//										res.data.data.id
									//支付流程6 ： 订单创建成功之后调微信的支付接口
									_this.payOrder(res.data.data.orderNo, res.data.data.payPrice);

								}else{
									_this.$toast(res.data.msg);
								}
							})
							.catch(function(err) {

							})
						this.payMoney = this.moneys[this.currentIndex];
					},
					//支付流程6 ： 微信支付签名
					payOrder: function(orderCode, payPrice) {
						var _this = this;
						$.ajax({
							type: "get",
							url: baseUrl + "/api/balance/rechargebill/signRechargeBill",
							data: {
								orderNo: orderCode, //订单号
							},
							success: function(data) {
								if(data.code == 200) {
//									alert('签名成功');
//									alert(JSON.stringify(data));
									//7 支付流程 ：签名成功之后调用支付接口
									function onBridgeReady() {
										WeixinJSBridge.invoke(
											'getBrandWCPayRequest', {
												"appId": data.data.billSignedDto.appId, //公众号名称，由商户传入     
												"timeStamp": data.data.billSignedDto.timeStamp, //时间戳，自1970年以来的秒数     
												"nonceStr": data.data.billSignedDto.nonceStr, //随机串     
												"package": data.data.billSignedDto.prepay_id,
												"signType": data.data.billSignedDto.signType, //微信签名方式：     
												"paySign": data.data.billSignedDto.sign //微信签名 
											},
											function(res) {
												if(res.err_msg == "get_brand_wcpay_request:ok") {
													_this.$toast("交易成功");
													setTimeout(function(){
														window.location.href = "success.html";
													},1000)
												}
												if(res.err_msg == "get_brand_wcpay_request:cancel") {
													_this.$toast("交易取消");
												}
												if(res.err_msg == "get_brand_wcpay_request:fail") {
													_this.$toast("支付失败");
												}
											}
										);
									}
									if(typeof WeixinJSBridge == "undefined") {
										if(document.addEventListener) {
											document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
										} else if(document.attachEvent) {
											document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
											document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
										}
									} else {
										onBridgeReady();
									}

								}
							},
							error: function(data) {
								promptBtnFun(data.msg)
							}
						});
					},

					cancelBtn: function() { //取消
						this.otherMoney = '';
					},
					confirmMoney: function() { //确定输入的金额
						this.otherMoney = otherMoneyVal;

						if(this.otherMoney != '') {
							this.currentIndex = otherIndex;
						}
					}
				},
				components: {

				}
			}
			var Ctor = Vue.extend(Main)
			new Ctor().$mount('#app');

			//数字键盘
			$(function() {
				// 监听#div内容变化，改变支付按钮的颜色
				$('#div1').bind('DOMNodeInserted', function() {
					if($("#div1").val() != "" || $("#div1").val() > '0') {
						$('.submit').addClass('active');
					} else {
						$('.submit').removeClass('active');
					}
				})
				$('#div1').trigger('DOMNodeInserted');

				$('.shuzi').click(function(e) {
					$("#div1").val("");
					$('.layer-content').fadeIn();

					e.stopPropagation();
				})
				$('.submit').click(function() {
					$('.layer-content').fadeOut();
				})

				$(".cancelBtn").click(function() {
					$('.layer-content').fadeOut();
				})

				$('.form_edit .num').click(function() {
					var oDiv1 = document.getElementById("div1");
					oDiv1.value += this.innerHTML;
					otherMoneyVal = oDiv1.value;
				})
				$('#remove').click(function() {
					var oDiv = document.getElementById("div1");
					var oDivHtml = oDiv.value;
					oDiv.value = oDivHtml.substring(0, oDivHtml.length - 1);
					otherMoneyVal = oDiv.value;
				})
			})

			//查看协议
			function check() {
				$(".userAgumentBbox").fadeIn();
			}
			$(".close-btn").click(function() {
				$(".userAgumentBbox").fadeOut();
			})
		</script>

	</body>

</html>