<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>我的钱包</title>
		<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">

		<link rel="stylesheet" type="text/css" href="../fontawesome-free-5.1.0-web/css/all.css" />

		<link rel="stylesheet" type="text/css" href="../css/layoutcontanier.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/head.css" />
		<link rel="stylesheet" type="text/css" href="../css/slideshow.css" />
		<style type="text/css">
			.walletBox {
				background-color: white;
				padding: 15px 20px;
				margin-bottom: 10px;
			}
			
			.walletBox .bannerImg {
				width: 100%;
				border-radius: 8px;
			}
			
		</style>
	</head>

	<body>
		<div id="app">
			<mt-header title="我的钱包">
				<a href="home.html" slot="left">
					<mt-button icon="back"></mt-button>
				</a>
			</mt-header>
			<div class="walletBox">
				<a href="langcarrentl.html">
					<img class="bannerImg" src="../img/1.jpg" alt="" />
				</a>
			</div>
			<div class="walletBox">
				<mt-cell title="塔库泊车月卡" to="langcarrentl.html" is-link value="带链接"></mt-cell>
				<!--<a href="balance.html"></a>-->
			</div>
			<div class="walletBox">
				<mt-cell title="停车余额" to="balance.html" is-link value="">{{myWallets.remainingSum}}</mt-cell>
				<mt-cell title="我的优惠券" to="parkingcoupon.html" is-link value="">{{myWallets.tickts}}</mt-cell>
				<mt-cell title="微信免密" to="https://wx.gtimg.com/authority_payment/renew_open.html?showwxpaytitle=1&mch_id=1236691302&appid=wx822295c9333f22d8&plan_id=94404&contract_code=159824144961531897123290jrH8feA8&request_serial=1531897123290&notify_url=https%3A%2F%2Fapp.mobike.com%2Fapi%2Fv2%2Fnoauthpay%2FreceiveNoauthProtoWx&version=1.0&sign=D2A839A04E8AC301D594AC3CC0B5E9FE&wx_rf=&timestamp=1531897123&duration_selected=&code=033fxorS0d4Bx827LIrS0h8drS0fxorw&return_app=1&mobile=15982414496&contract_display_account=15982414496&exportkey=A6%2Fg2V1aO4uzZoQA2MQYHSc%3D&pass_ticket=V3LyhfsrIy7syLUFylHlqmPiLa279%2FgdfVcX9NF3DlIVnsD76K5oMVucahF98PW6" is-link value="">
					<span v-if="myWallets.volantoryPayment">已开通</span>
					<span v-if="myWallets.volantoryPayment==false">未开通</span>
					
				</mt-cell>
			</div>
			
			

		</div>

		<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/tyajax.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var ajaxDataFun = getAjaxData;
			var getParam = GetQueryString;
			var promptFun = promptBtnFun; //提示
			var getAwardIdFun = getAwardId; //获取活动的建立计划id
			var sessionFun = setcodeval; //添加session
			var getCode = getCode; //通过code获取用户信息
			var getuserInfo = getuserInfo; //通过openid获取用户信息

			// $mount：vue中的生命周期   将实例#app挂载到Vue上
			//			new Vue().$mount('#app');
			var Main = {
				data() {
					return {
						myWallets:{
							remainingSum:0,//余额
							tickts:'无',//优惠券
							volantoryPayment: false
						}
					};
				},
				computed: {

				},
				mounted: function() {
					this.$nextTick(function() {
						//加载完成执行
					})
				},
				watch: {

				},
				methods: {
					submit: function() {

					}
				}
			}
			var Ctor = Vue.extend(Main)
			new Ctor().$mount('#app')
		</script>

	</body>

</html>